* {background-color: brown;}
.logocenter {
    margin-top: 20px;
    animation: myAnim 4s ease 0s 1 normal forwards;
}

@keyframes logocenter {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateY(-45px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateY(-24px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateY(-12px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateY(-6px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateY(-4px);
	}

	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translateY(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px);
	}
}

.fontes{
    color: white;
    
}

.fontes h1{
    font-family: 'Roboto', sans-serif;
}

.fontes p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.redes {
    margin-top: -10px;
}

